body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  /* font-family: "Merriweather", serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(to right, #4FBDBA, #CDEED6); */
  /* min-height: 100vh; */
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

.custom-table tbody {
  background: white;
}

.custom-table {
  /* margin-top: 30px; */
  width: 100%;
  /* overflow-x: hidden; */
  max-height: 445px;
}

.custom-table table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table td {
  cursor: pointer;
  padding: 12px 16px;
  text-align: center;
}

.custom-table th {
  color: #000;
  padding: 12px 16px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #f2f2f2;
}

.table-wrapper {
  width: 100%;
}

.custom-table table tbody tr {
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.custom-table table tbody tr:hover {
  background-color: #f9fafb;
  transform: scale(1.01);
}

.badge {
  display: inline-block;
  background: #fef3c7;
  color: #92400e !important;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
}

/* Base style */
.my-badge {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

/* ---- STATUS ---- */
.status-initiated {
  background: #d0f0fd;  /* soft cyan */
  color: #064e3b;       /* dark teal */
}

.status-in-progress {
  background: #fff3e0;  /* soft cream/orange */
  color: #7c2d12;       /* dark brown-orange */
}

.status-closed {
  background: #e0f7fa;  /* pale aqua */
  color: #006064;       /* dark teal-blue */
}

/* ---- SUBSTATUS ---- */
.substatus-pending-review {
  background: #f4ebff;  /* light lavender */
  color: #5b21b6;       /* deep purple */
}

.substatus-accepted {
  background: #d9f7be;  /* soft green */
  color: #166534;       /* dark green */
}

.substatus-partially-accepted {
  background: #ffe4b5;  /* light peach */
  color: #9c4a00;       /* dark orange-brown */
}

.substatus-rejected {
  background: #fee2e2;  /* soft pink/red */
  color: #991b1b;       /* deep red */
}


.my-badge i {
  margin-right: 6px;
  font-size: 14px;
  vertical-align: middle;
}

.dropdown-toggle::after {
  display: none !important;
}
