body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.custom-table {
  flex: 1;
}

.custom-table tbody {
  background: white;
}

.custom-table {
  width: 100%;
  max-height: 445px;
}

.custom-table table {
  width: 100%;
  border-collapse: collapse;
  color: #000;
}

.custom-table td {
  padding: 12px 16px;
  text-align: center;
  cursor: pointer;
}

.custom-table th {
  background: #f2f2f2;
  color: #000;
  padding: 12px 16px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.custom-table th,
.custom-table td {
  text-align: center;
  padding: 12px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(255, 255, 255, 0.08); /* glassy rows */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table-wrapper {
  width: 100%;
}
.table-scroll {
  max-height: none;
  overflow-y: visible;
  overflow-x: hidden;     
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2); 
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.custom-table tbody tr {
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.custom-table tbody tr:hover {
  background-color: #f9fafb;
  transform: scale(1.01);
}

.badge {
  display: inline-block;
  background: #fef3c7;
  color: #92400e !important;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
}

.my-badge {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

.status-initiated {
  background: #d0f0fd;
  color: #064e3b;
}

.status-in_progress {
  background: #fff3e0;
  color: #7c2d12;
}

.status-resolved {
  background: #e0f7fa;
  color: #006064;
}

.substatus-pending_review {
  background: #f4ebff;
  color: #5b21b6;
}

.substatus-under_review {
  background: #f7e1d7;
  color: #92400e; 
}

.substatus-accepted {
  background: #d9f7be;
  color: #166534;
}

.substatus-partially_accepted {
  background: #ffe4b5;
  color: #9c4a00;
}

.substatus-rejected {
  background: #fee2e2;
  color: #991b1b;
}

.my-badge i {
  margin-right: 6px;
  font-size: 14px;
  vertical-align: middle;
}

.dropdown-toggle::after {
  display: none !important;
}
